.EightBall{
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EightBall-msg{
  color: white;
  font-size: 24px;
  user-select: none;
}